.page {
    background-color: #F8F8F8;
    max-width:100%;
}

.page__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 88px;
    background-color: #fff;
}

.header__left-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 179.28px;
    height: 40px;
    margin-left: 3%;
}

.header__right-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 288px;
    padding-right: 2%;
}

.right-side__text-for-buton {
    display: none;
    font-family:'TT Lakes' ;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
}

.page__title {
    display: flex;
    align-items: center;
}

.title__decor-line {
    border-radius: 1px;
    width: 4px;
    height: 40px;
    background: #41F6D7;
    border-top-right-radius :20px ;
    border-bottom-right-radius: 20px ;
}

.title__text{
    padding-left: 3%;
    line-height: 40px;
    letter-spacing: 0.6px;
    font-size: 28px;
    font-family:'TT Lakes';
}

.page__catalog {
    display:flex;
    padding-left: 3%;
    padding-right: 3%;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

.catalog__btn {
    justify-content: space-around;
    font-size: 16px;
    line-height: 24px;
    font-family:'TT Lakes' ;
    background-color: #f8f8f8ff;
    padding: 10px;
    border: 2px solid #F8F8F8;
    border-radius: 6px;
    cursor: pointer; 
    color: #7E7E82;
}

.catalog__btn:nth-child(1),.catalog__btn:nth-child(5) {
    display: none;
}

.page__catalog::-webkit-scrollbar {
    width: 0px;
}

.catalog__btn:hover {
    border:2px solid  #B8FFec;
    background-color: #fff;
}

.page__content {
    display: flex;
    width: 100%;
} 

.content__leftside {
    flex: 50%;
    flex-direction: column;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 3%;
}

.leftside__text{
    font-family: 'TT Lakes';
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #1B1C21;
}

.leftside__btnnext {
    justify-content: space-between;
    font-family: 'TT Lakes';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
    cursor: pointer;
    font-weight: bold;
}

.content__rightside {
    flex: 50%;
    margin-top: 16px;
    margin-right: 3%;
    margin-bottom: 3%;
}

.content__rightside :nth-child(1) {
    width: 100%;
    height:100%;
    border-top-left-radius: 8px;
}

@media (max-width: 320px) {
    .header__left-side :nth-child(2){
        display: none;
    }

    .component__round-button__vanish{
        display: none;
    }

    .component__logo{
        margin-left: 8px;
    }

    .page__content {
        flex-direction: column  ;
    }

    .content__rightside {
        margin-left: 0px;
        padding-top: 50px;
    }
}

@media (min-width:1120px) {
    .page__header {
        float: right;
        background-color: #F8F8F8;
    }

    .right-side__text-for-buton {
        display: flex;    
    }
    
    .header__left-side{
        display: none;
    }

    .header__right-side{
        width: 373px;
    }

    .header__right-side :nth-child(4) {
        display: none;
    }

    .component__round-button__vanish {
        display: none;
    }

    .catalog {
        display: inline-flex;
    }

    .catalog__btn:nth-child(1),.catalog__btn:nth-child(5) {
        display: flex;
    }

    .catalog__btn:nth-child(3) {
        display: none;
    }
    }