.component--round-button {
    background-size: 100%;
    border-radius: 20px;
    border: 0px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.component--round-button--menu {
    background-image: url(/img/button_img/burger.png);
}

.component--round-button--phone{
    background-image: url(/img/button_img/call.png);
}

.component--round-button--massage{
    background-image: url(/img/button_img/chat.png);
}

.component--round-button--user{
    background-image: url(/img/button_img/profile.png);
}

.component--round-button--option{
    background-image: url(/img/button_img/repair.png);
}

.component--round-button--search{
    background-image: url(/img/button_img/checkstatus.png);
}

.component--decor-line {
    height: 32px;
    width: 2px;
    border-color:#EAEAEA;
    background: #EAEAEA;
    border-radius: 1px;
}

.component--decor-line--margin {
    margin-left: 20px;
    margin-right: 20px;
}

.component--decor-line--green {
    width: 4px;
    height: 40px;
    background: #41F6D7;
    border-top-right-radius :20px ;
    border-bottom-right-radius: 20px ;
}

.component--logo {
    width: 96.55px;
    height: 50.81px;
    background-image: url(/img/logo.png);
    background-size: 100%;
}

